Repository TheReverend403/cappuccino: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, black, ruff

check-yaml:
  name: check-yaml
  entry: check-yaml
  language: system

black:
  name: black
  entry: poetry run black
  language: system

ruff:
  name: ruff
  entry: poetry run ruff --fix --exit-non-zero-on-fix
  language: system

Update ruff
  poetry.lock
  pyproject.toml
Due: none

Update ruff
  poetry.lock
Due: none

Update dependencies
  poetry.lock
Due: none

Update dependencies
  cappuccino/execshell.py
  cappuccino/sed.py
  poetry.lock
  pyproject.toml
Due: black, ruff

Set poetry package-mode to false
  pyproject.toml
Due: none

Add .python-version for pyenv
  .python-version
  poetry.lock
Due: none

Cancel previous workflows on update
  .github/workflows/build-docker-image.yml
  .github/workflows/lint.yml
Due: check-yaml

Remove redundant --no-root
  .github/workflows/lint.yml
  Dockerfile
Due: check-yaml

'as' and 'FROM' keywords' casing do not match
  Dockerfile
Due: none

Loosen .python-version spec
  .python-version
  poetry.lock
Due: none

Enable FURB, update dependencies
  poetry.lock
  pyproject.toml
Due: none

Update dependencies
  poetry.lock
  pyproject.toml
Due: none

Move away from deprecated cgi module
  cappuccino/urlinfo.py
Due: black, ruff

Update to Python 3.13
  .github/workflows/lint.yml
  .python-version
  Dockerfile
  poetry.lock
  pyproject.toml
Due: check-yaml

Update dependencies
  cappuccino/urlinfo.py
  poetry.lock
Due: black, ruff

Update dependencies
  cappuccino/sed.py
  poetry.lock
  pyproject.toml
Due: black, ruff

cappuccino\urlinfo.py too-many-statements
  cappuccino/urlinfo.py
Due: black, ruff

cappuccino\lastfm.py too-many-return-statements
  cappuccino/lastfm.py
Due: black, ruff

cappuccino\triggers.py too-many-return-statements
  cappuccino/triggers.py
Due: black, ruff

cappuccino\rice.py too-many-return-statements
  cappuccino/rice.py
Due: black, ruff

Fix remaining lint errors
  cappuccino/lastfm.py
  cappuccino/rice.py
  cappuccino/urlinfo.py
Due: black, ruff

Update dependencies
  cappuccino/botui.py
  poetry.lock
  pyproject.toml
Due: black, ruff

Update version specifiers
  poetry.lock
  pyproject.toml
Due: none

Update poetry
  poetry.lock
  pyproject.toml
Due: none

Fix build errors due to missing files
  Dockerfile
Due: none

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  black: any of: \.py$
  ruff: any of: \.py$
