Repository TheReverend403/cappuccino: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, black, ruff

check-yaml:
  name: check-yaml
  entry: check-yaml
  language: system

black:
  name: black
  entry: poetry run black
  language: system

ruff:
  name: ruff
  entry: poetry run ruff --fix --exit-non-zero-on-fix
  language: system

Forgot the `poetry run`
  .pre-commit-config.yaml
Due: check-yaml

Update ruff
  poetry.lock
  pyproject.toml
Due: none

Update ruff
  pyproject.toml
Due: none

Update deps, unselect ruff ARG
  poetry.lock
  pyproject.toml
Due: none

Run alembic generated migrations through black and ruff
  alembic.ini
Due: none

Switch to ruff format
  .pre-commit-config.yaml
  alembic.ini
  poetry.lock
  pyproject.toml
Due: check-yaml

Add RUFF_OUTPUT_FORMAT=github to CI
  .github/workflows/lint.yml
Due: check-yaml

Cache apt downloads in docker
  Dockerfile
Due: none

Helps if you don't immediately clean the apt cache
  Dockerfile
Due: none

Use private sharing on cache mounts
  Dockerfile
Due: none

Update ruff, add pylint checks
  cappuccino/ai.py
  cappuccino/execshell.py
  cappuccino/fun.py
  cappuccino/rice.py
  cappuccino/sed.py
  cappuccino/urlinfo.py
  poetry.lock
  pyproject.toml
Due: black, ruff

Explicitly specify Debian version in Dockerfile
  Dockerfile
Due: none

Remove S311 from per-file-ignores
  cappuccino/fun.py
  pyproject.toml
Due: black, ruff

Remove RET502 from extend-ignore
  pyproject.toml
Due: none

Set line-ending for ruff format
  pyproject.toml
Due: none

Run ruff check last
  .pre-commit-config.yaml
Due: check-yaml

https://github.com/astral-sh/ruff/issues/8191#issuecomment-1781220297
  .pre-commit-config.yaml
Due: check-yaml

Update ruff
  poetry.lock
Due: none

Update deps and actions
  .github/workflows/docker.yml
  .github/workflows/lint.yml
  poetry.lock
  pyproject.toml
Due: check-yaml

Update to Python 3.12
  .github/workflows/lint.yml
  Dockerfile
  poetry.lock
  pyproject.toml
Due: check-yaml

Add DTZ ruff rules
  alembic/versions/c7308e3c814a_seperate_ricedb_json_into_columns.py
  cappuccino/ai.py
  cappuccino/core.py
  cappuccino/influx.py
  cappuccino/seen.py
  poetry.lock
  pyproject.toml
Due: black, ruff

Reenable N818
  cappuccino/sed.py
  cappuccino/urlinfo.py
  pyproject.toml
Due: black, ruff

Use https url for whatthecommit
  cappuccino/fun.py
Due: black, ruff

Update ruff, add RUFF_NO_CACHE to actions, add FURB
  .github/workflows/lint.yml
  poetry.lock
  pyproject.toml
Due: check-yaml

Update dependencies
  poetry.lock
Due: none

Update readme
  README.md
Due: none

Clean up workflow files
  .github/workflows/docker.yml
  .github/workflows/lint.yml
Due: check-yaml

Clean up workflow files
  .github/workflows/docker.yml
Due: check-yaml

Rename docker.yml workflow
  .github/workflows/docker.yml
Due: check-yaml

Rename docker.yml workflow
  .github/workflows/build-docker-image.yml
Due: check-yaml

Pass --no-root to poetry
  Dockerfile
Due: none

Make sqlalchemy connection pool configurable
  cappuccino/util/database.py
Due: black, ruff

Run ruff format last
  .pre-commit-config.yaml
Due: check-yaml

Add buildkit syntax declaration
  Dockerfile
Due: none

Fix readme build status
  README.md
Due: none

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  black: any of: \.py$
  ruff: any of: \.py$
