Repository TheReverend403/cappuccino: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, black, ruff

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: system
        types: [text]

      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: trailing-whitespace-fixer
        language: system
        types: [text]

      - id: check-yaml
        name: check-yaml
        entry: check-yaml
        language: system
        types: [yaml]

      - id: check-shebang-scripts-are-executable
        name: check-shebang-scripts-are-executable
        entry: check-shebang-scripts-are-executable
        language: system
        types: [text]

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]

      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]

      - id: ruff
        name: ruff
        entry: poetry run ruff --fix --exit-non-zero-on-fix
        language: system
        types: [python]

Switch dependency specs to PEP 508
  .github/workflows/lint.yml
  Dockerfile
  poetry.lock
  pyproject.toml
Due: check-yaml

Limit python version to 3.13
  poetry.lock
  pyproject.toml
Due: none

Clean up pyproject.toml
  poetry.lock
  pyproject.toml
Due: none

Switch to uv
  .github/workflows/lint.yml
  .gitignore
  .pre-commit-config.yaml
  Dockerfile
  README.md
  cappuccino/util/database.py
  poetry.lock
  pyproject.toml
  uv.lock
Due: check-yaml, black, ruff

Forgot to `uv sync`
  pyproject.toml
  uv.lock
Due: none

Run actions without v* prefix
  .github/workflows/build-docker-image.yml
  pyproject.toml
  uv.lock
Due: check-yaml

Remove unneeded curl from builder
  Dockerfile
  uv.lock
Due: none

Update dependencies
  uv.lock
Due: none

Add docker-compose file for dev
  .github/workflows/build-docker-image.yml
  .gitignore
  README.md
  docker/.env.example
  docker/docker-compose.dev.yml
  uv.lock
Due: check-yaml

Remove --force-exclude
  .pre-commit-config.yaml
  pyproject.toml
Due: check-yaml

Remove RUFF_NO_CACHE
  .github/workflows/lint.yml
Due: check-yaml

Explicitly set docker-compose name to prevent conflicts
  docker/docker-compose.dev.yml
Due: check-yaml

Clarify that running instructions are for dev only
  README.md
Due: none

Update ruff
  uv.lock
Due: none

Update dependencies
  docker/.env.example
  docker/docker-compose.dev.yml
  uv.lock
Due: check-yaml

Update dev containers
  docker/.env.example
  docker/docker-compose.dev.yml
Due: check-yaml

Reduce image size a little bit by inheriting from debian-slim, let uv install python from .python-version
  .github/workflows/build-docker-image.yml
  Dockerfile
  README.md
  cappuccino/botui.py
  cappuccino/util/meta.py
  docker/rootfs/docker-entrypoint.sh
  pyproject.toml
  uv.lock
Due: check-yaml, black, ruff

Use FULL_VERSION with sentry
  cappuccino/sentry.py
Due: black, ruff

Why must I annoy myself
  Dockerfile
Due: none

Install python as part of python-base, not app-base. Copy project files instead of bind mounting to be less repetitive.
  Dockerfile
  docker/docker-compose.dev.yml
  pyproject.toml
  setup.cfg
  uv.lock
Due: check-yaml

Don't bother with BASE_DIR
  docker/docker-compose.dev.yml
Due: check-yaml

Don't reinstall system packages when app code changes.
  Dockerfile
Due: none

Run apt before META_ ARGs
  Dockerfile
Due: none

Apparently `apt-get clean` isn't necessary. https://github.com/moby/moby/blob/03e2923e42446dbb830c654d0eec323a0b4ef02a/contrib/mkimage/debootstrap#L82-L105
  Dockerfile
Due: none

Update dependencies
  .gitignore
  docker/docker-compose.dev.yml
  uv.lock
Due: check-yaml

Update GitHub actions
  .github/workflows/build-docker-image.yml
  .github/workflows/lint.yml
Due: check-yaml

Loosen dependency version requirements
  pyproject.toml
  uv.lock
Due: none

Add a dockerignore file
  .dockerignore
  .gitignore
  Dockerfile
  alembic.ini
  alembic/env.py
  pyproject.toml
  uv.lock
Due: black, ruff

Remove unused PYTHONPATH
  Dockerfile
Due: none

Set context in github actions
  .github/workflows/build-docker-image.yml
  pyproject.toml
  uv.lock
Due: check-yaml

Use git context
  .github/workflows/build-docker-image.yml
Due: check-yaml

Make sure to clone the repo when using it as the context
  .github/workflows/build-docker-image.yml
Due: check-yaml

Bump version
  pyproject.toml
  uv.lock
Due: none

Update to sqlalchemy 2
  Dockerfile
  cappuccino/__init__.py
  cappuccino/ai.py
  cappuccino/seen.py
  cappuccino/triggers.py
  cappuccino/userdb.py
  cappuccino/util/database.py
  docker/docker-compose.dev.yml
  docker/rootfs/docker-entrypoint.sh
  pyproject.toml
  uv.lock
Due: check-yaml, black, ruff

Mix incorrect AI line count
  cappuccino/ai.py
  docker/rootfs/docker-entrypoint.sh
  pyproject.toml
  uv.lock
Due: black, ruff

Fix another incorrect use of CorpusChannel.name
  cappuccino/ai.py
  pyproject.toml
  uv.lock
Due: black, ruff

Add TZ to db service
  docker/docker-compose.dev.yml
Due: check-yaml

Add an env var to toggle debug output
  docker/rootfs/docker-entrypoint.sh
Due: none

Minor change to sentry startup log message
  cappuccino/sentry.py
Due: black, ruff

ai.py: Rollback session on IntegrityError
  cappuccino/ai.py
  pyproject.toml
  uv.lock
Due: black, ruff
