Repository TheReverend403/cappuccino: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, black, ruff

check-yaml:
  name: check-yaml
  entry: check-yaml
  language: system

black:
  name: black
  entry: poetry run black
  language: system

ruff:
  name: ruff
  entry: poetry run ruff --fix --exit-non-zero-on-fix
  language: system

Add a default of None to getattr()
  cappuccino/userdb.py
  pyproject.toml
  uv.lock
Due: black, ruff

Prefer update() statements before creating new rows.
  alembic/versions/c7308e3c814a_seperate_ricedb_json_into_columns.py
  cappuccino/ai.py
  cappuccino/triggers.py
  cappuccino/userdb.py
  pyproject.toml
  uv.lock
Due: black, ruff

Rename CorpusChannel to AIChannel
  cappuccino/ai.py
Due: black, ruff

Use sessions in context managers
  Dockerfile
  alembic/env.py
  cappuccino/__init__.py
  cappuccino/ai.py
  cappuccino/triggers.py
  cappuccino/userdb.py
  docker/docker-compose.dev.yml
Due: check-yaml, black, ruff

Update last_seen timestamp type
  alembic/versions/b99364b9b9c3_update_last_seen_timestamp_type.py
Due: black, ruff

Delete chanlog table
  alembic/versions/e1915be51fb9_delete_chanlog_table.py
  pyproject.toml
  uv.lock
Due: black, ruff

Make last_seen nullable
  alembic/versions/b99364b9b9c3_update_last_seen_timestamp_type.py
  cappuccino/userdb.py
  pyproject.toml
  uv.lock
Due: black, ruff

Don't try and delete non-existent columns
  alembic/versions/b99364b9b9c3_update_last_seen_timestamp_type.py
  pyproject.toml
  uv.lock
Due: black, ruff

Don't try and delete non-existent columns
  alembic/versions/e1915be51fb9_delete_chanlog_table.py
  pyproject.toml
  uv.lock
Due: black, ruff

Add missing all() to query
  cappuccino/userdb.py
  pyproject.toml
  uv.lock
Due: black, ruff

Ensure all models are loaded when doing alembic autogenerate
  .dockerignore
  alembic.ini
  cappuccino/__init__.py
  cappuccino/ai.py
  cappuccino/db/alembic/README
  cappuccino/db/alembic/env.py
  cappuccino/db/alembic/script.py.mako
  cappuccino/db/alembic/versions/5ebc3fcc5af8_drop_chanlog_and_ricedb_data.py
  cappuccino/db/alembic/versions/a71bc86773a8_make_ai_channels_status_and_ai_corpus_.py
  cappuccino/db/alembic/versions/b99364b9b9c3_update_last_seen_timestamp_type.py
  cappuccino/db/alembic/versions/c7308e3c814a_seperate_ricedb_json_into_columns.py
  cappuccino/db/alembic/versions/ca58ba59b328_.py
  cappuccino/db/models/__init__.py
  cappuccino/db/models/ai.py
  cappuccino/db/models/triggers.py
  cappuccino/db/models/userdb.py
  cappuccino/triggers.py
  cappuccino/userdb.py
  pyproject.toml
  uv.lock
Due: black, ruff

Rename CorpusChannel.status to CorpuChannel.enabled
  cappuccino/ai.py
  cappuccino/db/alembic/versions/4dc2c5515277_rename_corpuschannel_status_to_.py
  cappuccino/db/models/ai.py
Due: black, ruff

Rename Trigger.trigger to Trigger.name
  cappuccino/db/alembic/versions/65969d0d94f3_rename_trigger_trigger_to_trigger_name.py
  cappuccino/db/models/triggers.py
  cappuccino/triggers.py
  pyproject.toml
  uv.lock
Due: black, ruff

Add one-to-many relationship to ai models.
  cappuccino/ai.py
  cappuccino/db/alembic/versions/3668c91fa898_add_relationship_to_ai_models.py
  cappuccino/db/models/ai.py
  pyproject.toml
  uv.lock
Due: black, ruff

Fix using same line counts for channel and global
  cappuccino/ai.py
  pyproject.toml
  uv.lock
Due: black, ruff

Ensure there is exactly one empty line between code and copyright headers
  cappuccino/botui.py
  cappuccino/db/models/ai.py
Due: black, ruff

Switch all string types to text
  cappuccino/db/alembic/versions/15a2d5ea1971_switch_all_string_types_to_text.py
  cappuccino/db/models/ai.py
  cappuccino/db/models/triggers.py
  cappuccino/db/models/userdb.py
  pyproject.toml
  uv.lock
Due: black, ruff

Remove unnecessary datetime.replace()
  cappuccino/seen.py
  pyproject.toml
  uv.lock
Due: black, ruff

Remove unnecessary session.begin()
  cappuccino/ai.py
  cappuccino/triggers.py
  cappuccino/userdb.py
Due: black, ruff

Add yamlfix to pre-commit
  .github/workflows/build-docker-image.yml
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  docker/docker-compose.dev.yml
  pyproject.toml
  uv.lock
Due: check-yaml

Add some more linter rules
  cappuccino/__init__.py
  cappuccino/ai.py
  cappuccino/db/alembic/__init__.py
  cappuccino/db/alembic/env.py
  cappuccino/db/alembic/versions/15a2d5ea1971_switch_all_string_types_to_text.py
  cappuccino/db/alembic/versions/5ebc3fcc5af8_drop_chanlog_and_ricedb_data.py
  cappuccino/db/alembic/versions/__init__.py
  cappuccino/db/alembic/versions/a71bc86773a8_make_ai_channels_status_and_ai_corpus_.py
  cappuccino/db/alembic/versions/b99364b9b9c3_update_last_seen_timestamp_type.py
  cappuccino/db/alembic/versions/c7308e3c814a_seperate_ricedb_json_into_columns.py
  cappuccino/db/alembic/versions/ca58ba59b328_.py
  cappuccino/sentry.py
  cappuccino/urlinfo.py
  cappuccino/util/formatting.py
  docker/rootfs/docker-env2conf.py
  pyproject.toml
  uv.lock
Due: black, ruff

Sort extend-ignores
  pyproject.toml
Due: none

Update ruff
  uv.lock
Due: none

Update dependencies
  cappuccino/db/models/triggers.py
  uv.lock
Due: black, ruff

docker-compose.yml > compose.yaml
  README.md
  docker/compose.yaml
Due: check-yaml

Update dependencies
  uv.lock
Due: none

Update some dependencies
  uv.lock
Due: none

Update Docker image to trixie
  Dockerfile
Due: none

Fix up some order of execution stuff with env vars
  docker/compose.yaml
Due: check-yaml

Add uptimekuma.py
  cappuccino/uptimekuma.py
  config.dist.ini
  docker/compose.yaml
  pyproject.toml
  uv.lock
Due: check-yaml, black, ruff

Wait until the bot is connected before pinging Uptime Kuma
  cappuccino/__init__.py
  cappuccino/uptimekuma.py
  pyproject.toml
  uv.lock
Due: black, ruff

Add msg parameter to exception().
  cappuccino/uptimekuma.py
  pyproject.toml
  uv.lock
Due: black, ruff

Switch to yamllint
  .github/workflows/build-docker-image.yml
  .github/workflows/lint.yml
  .gitignore
  .pre-commit-config.yaml
  .yamllint.yaml
  pyproject.toml
  uv.lock
Due: check-yaml

Update to Python 3.14
  .python-version
  cappuccino/__init__.py
  cappuccino/db/models/ai.py
  cappuccino/db/models/userdb.py
  cappuccino/influx.py
  cappuccino/sentry.py
  docker/compose.yaml
  pyproject.toml
  uv.lock
Due: check-yaml, black, ruff

Upgrade dependencies
  uv.lock
Due: none

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  black: any of: \.py$
  ruff: any of: \.py$
