Repository TheReverend403/cappuccino: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, black, ruff

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: system
        types: [text]

      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: trailing-whitespace-fixer
        language: system
        types: [text]

      - id: check-yaml
        name: check-yaml
        entry: check-yaml
        language: system
        types: [yaml]

      - id: check-shebang-scripts-are-executable
        name: check-shebang-scripts-are-executable
        entry: check-shebang-scripts-are-executable
        language: system
        types: [text]

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]

      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]

      - id: ruff
        name: ruff
        entry: poetry run ruff --fix --exit-non-zero-on-fix
        language: system
        types: [python]

Remove deprecated attributes in readme
  README.md
Due: none

Revert "Remove deprecated attributes in readme"
  README.md
Due: none

Add alt to readme logo
  README.md
Due: none

Update ruff
  cappuccino/botui.py
  cappuccino/execshell.py
  poetry.lock
Due: black, ruff

Update dependencies
  poetry.lock
Due: none

Update to ruff 0.2
  poetry.lock
  pyproject.toml
Due: none

Add check-toml hook
  .pre-commit-config.yaml
  pyproject.toml
Due: check-yaml

Update actions
  .github/workflows/lint.yml
Due: check-yaml

Rename docker-init.sh to docker-entrypoint.sh to not clash with docker's own docker-init
  Dockerfile
  docker/rootfs/docker-entrypoint.sh
Due: none

Clean up Dockerfile
  Dockerfile
  docker/rootfs/docker-entrypoint.sh
Due: none

Update setup-poetry action
  .github/workflows/lint.yml
Due: check-yaml

Switch to curly braces for env vars
  docker/rootfs/docker-entrypoint.sh
Due: none

Temporarily disable FURB
  pyproject.toml
Due: none

Add ruff rules C4, Q, SLF, T10 and TID
  alembic.ini
  alembic/versions/c7308e3c814a_seperate_ricedb_json_into_columns.py
  poetry.lock
  pyproject.toml
Due: black, ruff

Add version info to Docker builds
  .github/workflows/build-docker-image.yml
  Dockerfile
  cappuccino/core.py
  cappuccino/util/version.py
  poetry.lock
  pyproject.toml
Due: check-yaml, black, ruff

Use shellcheck-py instead of assuming the host has shellcheck
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: check-yaml

Don't mark every build as latest
  .github/workflows/build-docker-image.yml
Due: check-yaml

Add META_SOURCE, rename version.py to meta.py
  .github/workflows/build-docker-image.yml
  Dockerfile
  cappuccino/botui.py
  cappuccino/core.py
  cappuccino/sentry.py
  cappuccino/util/meta.py
  poetry.lock
  pyproject.toml
Due: check-yaml, black, ruff

Update ruff
  alembic/versions/c7308e3c814a_seperate_ricedb_json_into_columns.py
  alembic/versions/ca58ba59b328_.py
  poetry.lock
  pyproject.toml
Due: black, ruff

Fix a small typing mistake in a list[str]
  cappuccino/urlinfo.py
Due: black, ruff

Make LSP stop whining
  cappuccino/util/meta.py
Due: black, ruff

Remove cappuccino.core, give plugins their own requests session on init
  cappuccino/__init__.py
  cappuccino/botui.py
  cappuccino/catfacts.py
  cappuccino/core.py
  cappuccino/execshell.py
  cappuccino/fun.py
  cappuccino/influx.py
  cappuccino/lastfm.py
  cappuccino/sentry.py
  cappuccino/triggers.py
  cappuccino/urlinfo.py
Due: black, ruff

Update dependencies
  poetry.lock
  pyproject.toml
Due: none

Fix incorrect meta import
  cappuccino/__init__.py
  pyproject.toml
Due: black, ruff

Make randbelow 1-1000
  cappuccino/__init__.py
  pyproject.toml
Due: black, ruff

Update shellcheck-py
  poetry.lock
  pyproject.toml
Due: none

Update dependencies
  cappuccino/execshell.py
  poetry.lock
  pyproject.toml
Due: black, ruff

Use built in caching for python setup
  .github/workflows/build-docker-image.yml
  .github/workflows/lint.yml
Due: check-yaml

Fix workflows
  .github/workflows/lint.yml
Due: check-yaml

Fix workflows
  .github/workflows/build-docker-image.yml
Due: check-yaml

Add --no-root to poetry action
  .github/workflows/lint.yml
Due: check-yaml

Update ruff
  poetry.lock
Due: none
